.about {
  display: flex;
  gap: 20px;
}

.genres {
  display: flex;
  gap: 20px;
  list-style-type: none;
  padding-left: 0;
}

.btn {
  border: 1px solid black;
  text-decoration: none;
  margin-bottom: 15px;
}

a {
  text-decoration: inherit;
}

.title {
  margin-top: 25px;
  margin-bottom: 15px;
}

img {
  margin-bottom: 20px;
}

.list {
  text-decoration: underline;
}



